:root{
    --bgColor: #d1e8d5;
    --textColor: #0d7a20;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    background-color: var(--bgColor);
    color: var(--textColor);
}

main{
    padding: 2em;
    margin-left:auto;
    margin-right: auto;
    max-width: 600px;
}

legend {
    font-weight: bold;
}


.wpc-form .wpc-input-value{
    width: 5em;
    text-align: right;
}
.wpc-form .wpc-input-quantity,
.wpc-form .wpc-input-value{
    text-align: right;
    border: none;
}

.wpc-form .wpc-input-quantity{
    width: 2em;
}

.wpc-form .wpc-input-value{
    width: 5em;
}

.wpc-button{
    padding: .5em 1em;
    border-radius: 5px;
    border-color: var(--textColor);
    background-color: var(--textColor);
    color: var(--bgColor);
    border-width: 1px;
    cursor: pointer;
}

.wpc-button:active{
    background-color: var(--bgColor);
    color: var(--textColor);
}